@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*
{
	margin: 0; padding: 0;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

:root
{
	--red-light: #FF4656;
	--while: #FFFFFF;
	--dark: #1F2326;

	--size-title: 56px;
	--size-subtitle: 2rem;
	--size-text: 16px;
}

.flex
{
	display: flex; 
}
.f-c-c
{
	align-items: center;
	justify-content: center;
}
.f-c-b
{
	align-items: center;
	justify-content: space-between;
}

.content-width
{
	margin: auto;
	max-width: 1200px;
}

@keyframes flutuar
{
	0%, 100%
	{
		transform: translateY(0)
	}
	50%
	{
		transform: translateY(-20px)
	}
}