body
{
	background: var(--branco-1);
}

header
{
	padding: 31px 0;
	background: var(--gradient);
}
header h2
{
	color: var(--branco);
}
header .search
{
	position: relative;
	display: flex;
	margin-top: 40px;
}
header .search input
{
	width: 100%;
	padding: 18px 10px 18px 50px;
	font-size: var(--size-menor);
	background: rgba(255, 255, 244, .2);
	border: none;
	color: var(--branco);
	border-radius: 5px;
}
header .search input::placeholder
{
	color: rgba(255, 255, 244, .8);	
}
header .search .icon
{
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	color: var(--branco);
	font-size: calc(var(--size-text) + 3px);
}


main
{
	padding: 50px 0;
}
main section
{
	width: 100%;
	background: var(--branco);
	border-radius: 5px;
	padding: 25px 24px;
}
main section + section{margin-top: 50px;}
main .section-cabeçalho span
{
	color: var(--cinza);
	font-size: var(--size-menor);
}
main .section-cabeçalho span i
{
	font-size: var(--size-text);
	cursor: pointer;
}
main .infor
{
	margin-top: 22px;
}
main .infor h1
{
	font-size: var(--size-title);
	margin-bottom: 10px;
}
main .infor p
{
	color: var(--cinza);
	font-size: var(--size-text);
	margin-bottom: 30px;
}
main .infor .btn
{
	padding: 10px 20px;
	background: var(--vinho);
	color: var(--branco);
	border-radius: 5px;
	transition: .5s ease;
}
main .infor .btn:hover
{
	letter-spacing: 1px;
}

@media (max-width: 900px)
{
	.content
	{
		padding: 0 10px;
	}
}